<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create a new post</title>
</head>
<body>
	<h1>Create your post!</h1>
	<form  th:method="POST">
		<div>
			<label for="title">Title</label>
			<br>
			<input id="title" th:name="title" type="text" placeholder="Enter a title">
		</div>
		<br>
		<div>
			<label for="body">Body</label>
			<br>
			<textarea id="body" th:name="body" cols="30" rows="20" placeholder="Enter a description"></textarea>
		</div>
		<br>
		<div>
			<button>Submit</button>
		</div>
	</form>
	
</body>
</html>